.Header, .DeckChoicesAndStats, .FiltersDiv {
  	display: flex;
  	justify-content: center;
}

.DeckSelectionOptionsParent {
	justify-content: center;
	text-align: center;
}

.DeckLeaderAndStats {
	margin: 10px;
	align-items: center;
	text-align: center;
}

.HeaderLogo {
	height: 128px;
}

.NotDisplayed {
	display: none;
}

.FinalizeDeckButton {
	border: 3px solid #BFBDBA;
	border-radius: 10px;
	color: #fff;
	font-family: inherit;
	font-size: inherit;
	background: #7A6D64;
	cursor: pointer;
	padding: 10px 20px;
	font-weight: 700;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	overflow: hidden;
}

.FinalizeDeckButton:hover {
	border-color: rgb(255,129,33);
	color: #fff;
}

.FilterIcon {
	height: 40px;
	cursor: pointer;
	margin: 0 30px;
}

.TableTopMargin {
	margin-top: 50px;
}