.Header, .DeckSelectionOptions, .DeckChoicesAndStats {
  display: flex;
  justify-content: center;
}

.Hidden {
	display: none;
}

.BaseDeckTableDiv, .NeutralDeckTableDiv, .DeckStats {
	padding: 15px;
}