.Header, .DeckSelectionOptions, .DeckChoicesAndStats {
  display: flex;
  justify-content: center;
}

.Hidden {
	display: none;
}

.DeckTableDiv, .NeutralDeckTableDiv, .DeckStats {
	padding: 15px;
}

.DeckStats {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}