.Header, .DeckSelectionOptions, .DeckChoicesAndStats {
  	display: flex;
  	justify-content: center;
}

.Hidden {
	display: none;
}

.LeaderTableDiv .NeutralDeckTableDiv, .DeckStats {
	padding: 15px;
}

.DeckStats {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.DeckSelectionOptions {
	flex-direction: row;
}

.DeckStats p {
	font-weight: bold;
	font-size: 20px;
	color: #9E7739;
}

.LeaderTableDiv, .DeckTableDiv {  
	color: black;
}

.ImageCellImgSize{
	height: 240px;
}